input {outline:none;}
		.main-content
		{
			width: 1178px;
			height: 483px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
		}
		.image-block
		{
			float: left;
			display: block;
			position: relative;
		}
		.image-shadow
		{
			width: 470px;
			height: 483px;
			background: #ECEEF3;
			box-shadow: inset 2px 2px 5px rgba(0, 0, 50, 0.2), inset -2px -2px 5px rgba(235, 235, 235, 0.9);
		}
		.redtsh
		{
			position: absolute;
			top: 0;
			left: 51px;
			filter: drop-shadow(2px 10px 20px rgba(210, 212, 217, 0.9));
		}
		.text-block
		{
			margin-left: 123.55px;
			float: left;
			display: block;
		}
		.text-block-caption
		{
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 60px;
			line-height: 77px;
			text-align: left;
		}
		.actes
		{
			margin-top: 10px;
			text-align: left;
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 36px;
		}
		.tsh-panels
		{
			margin-top: 59px;
		}
		.tsh-panel
		{
			width: 180px;
			height: 180px;
			background: #EEF0F4;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
			float: left;
			display: block;
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			text-align: center;
			cursor: pointer;
		}
		.tsh-panel:hover
		{
			background: #f5f7fc;
		}
		.middle
		{
			margin: 0 20px;
		}
		.tsh-panel-text
		{
			margin-top: 30px;
			margin-bottom: 15px;
		}
		.tsh-panel-price
		{
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			opacity: 0.6;
			margin: 15px 15px 12px 90px;
		}
		.feedback-panel
		{
			min-width: 1180px;
			min-height: 240px;
			height: 240px;
			text-align: center;
			margin-top: 70px;
			background: #F0F2F7;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
		}
	
	
		.privacy-panel
		{
			margin-top: 15px;
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 15px;
			margin-left: auto;
			margin-right: auto;
			text-align: left;
			width: 1180px;
		}
		/**/
		.production-panel
		{
			min-width: 1187px;
			margin-top:50px;
			height: 61px;
			position: relative;
		}
		.production-line
		{
			border-top: 4px solid #F0F2F7;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
			position: absolute;
			top: 15px;
			left: 0;
			width: 48.5%;
		}
		
		.production-caption
		{	
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
		}
		.production-line-bottom
		{
			margin-top: 20px;
			border-top: 4px solid #F0F2F7;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
		}
		.caption
		{
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 38px;
		}
		.about-panel
		{
			margin-top: 50px;
			min-width: 1180px;
			width: 100%;
			background: url("../images/index/about.png") center  no-repeat;
			background-repeat: no-repeat;
			background-size: cover;
			padding-top: 68px;
			padding-bottom: 67px;
		}
		.about-text-panel
		{
			width: 1180px;
			height: 240px;
			background: rgba(240, 242, 247, 0.9);
			opasity: .8;
			border-radius: 6px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
		.about-text
		{
			padding-top: 70px;
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			text-align: center;
		}
		.cotton-image-shadow
		{
			width: 529px;
			height: 342px;
			background: #EAECF1;
			box-shadow: inset 2px 2px 5px rgba(0, 0, 50, 0.2), inset -2px -2px 5px rgba(235, 235, 235, 0.9);
		}
		.cotton
		{
			width: 491px;
			height: 328px;
			position: absolute;
			top: 0;
			left: 34px;
			filter: drop-shadow(2px 10px 20px rgba(210, 212, 217, 0.9));
		}
		.textile-about-panel
		{
			width: 1182px;
			height: 342px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
			position: relative;
		}
		.textile-image-block
		{
			position: absolute;
			top:0;
			left:0;
		}
		.textile-about-text
		{
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			display: block;
			width: 50%;
			position: absolute;
			right:0;
			top: 75px;
		}
		.textile-about-text-p
		{  
			margin-top: 0.5em;
			margin-bottom: 0;
		}
		
		.textile-panel
		{
			height:61px;
			width: 100%;
			min-width: 1187px;
			margin-top: 70px;
			position:relative;
		}
		.textile-left-block
		{
			position: absolute;
			bottom:0;
			left:0;
			width: 50%;
			border-bottom: 4px solid #F0F2F7;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
		}
		.textile-right-block
		{
			position: absolute;
			bottom:0;
			right:0;
			width: 50%;
			height: 100%;
		}
		.textile-caption-block
		{
			width: 90px;
			height: 100%;
			float: left;
			display: block;
		}
		.textile-right-line-block
		{
			height: 100%;
			display: flex;
			position: relative;
		}
		.textile-line-bottom
		{
			position: absolute;
			width:90px;
			bottom:0;
			border-bottom: 4px solid #F0F2F7;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
		}
		.textile-line-right
		{
		position: absolute;
			right: 0;
			width: 95%;
			height: 0;
			margin-top: 19px;
			border-bottom: 4px solid #F0F2F7;
			box-shadow: 2px 2px 5px rgba(0, 0, 50, 0.1), -1px -1px 5px rgba(255, 255, 255, 0.9), inset 2px 2px 4px rgba(255, 255, 255, 0.3);
			
		}
		.cotton-decorate
		{
			position: absolute;
			bottom: 16px;
			right: 13px; 
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 60px;
			line-height: 77px;
			opacity: 0.2;
		}
		.supreme-decorate
		{
			transform: rotate(-90deg);
			position: absolute;
			right: -23px;
			bottom: 113px;
			font-family: Lora;
			font-style: normal;
			font-weight: normal;
			font-size: 28px;
			line-height: 36px;
			opacity: 0.4;
		}